html {
  background-color: #00ffa2;
  text-align: center;
}

head {
}

body {
}

div {
}

h1 {
  font-family: Sans Serif;
}

h2 {
  font-family: Serif;
}

h3 {
}

h1, h2, h3, h4, h5, h6, p {
  color: #004466;
}

.calculations {
  border-radius: 3px;
}
