html {
  background-color: #00ffa2;
  text-align: center;
}

head {
}

body {
}

div {
}

h1 {
  font-family: Sans Serif;
}

h2, h3, h4, h5, h6 {
  font-family: Serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: #004466;
}

/* Need to confirm why the border-radius property isn't changing, make text larger*/
button {
  color: #aba9c6;
  background-color: #57593c;
  border: #57593c 20px; 
  /* Need to determine how to properly center*/
}

.calculations {
  border-radius: 3px;
}

div {
  width: 5vw;
  height: 5wh;
}
